<!-- ============================================================== -->
<!-- Only router without any element -->
<!-- ============================================================== -->
<style>
  #dragbar {
    -webkit-app-region: drag;
    cursor: move;
    background: transparent;
    height: 56px;
    position:absolute;
  }

  #dragbar a {
    -webkit-app-region: no-drag;
  }

  #close {
    color: #fff;
    position: absolute;
    top: 2px;
    right: 6px;
    -webkit-app-region: no-drag;
    cursor: pointer;
  }

  #close:hover {
    cursor: pointer;
    color: #999 !important;
  }

  a:hover {
    text-decoration: none;
  }
</style>

<div style="width: 1280px; height:800px; background-color:#fff; position:relative ">
    <div style="width: 100%; padding: 24px 20px 4px 0px;" id="dragbar">
        <div id="close" (click)="closeWindow()"><span class="fa fa-window-close"></span></div>
        <p class="text-right">
          &nbsp;
          <span
            style="position: absolute; right:30px; top:6px; font-size:9px; color:#fff"><span style="color:#fff">Made with <span class="fa fa-heart"></span> by Pad </span>&nbsp; v0.2.0</span>
        </p>
      </div>
  <router-outlet></router-outlet>
</div>
