<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<style>
  #close {
    color: #fff;
    position: absolute;
    top: 2px;
    right: 6px;
    -webkit-app-region: no-drag;
    cursor: pointer;
  }

  #close:hover {
    cursor: pointer;
    color: #999 !important;
  }

  a:hover {
    text-decoration: none;
  }
</style>
<div style="width: 1280px; height:800px; background-color:#fff; position: relative; overflow:hidden">
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <div id="dragbar">
        <div id="close" (click)="closeWindow()"><span class="fa fa-window-close"></span></div>
        <p class="text-right">
          &nbsp;
          <a class="btn btn-link btn-sm text-white" target="_blank" href="https://www.tricider.com/brainstorming/2kmOXehNw7Z"
          role="button"><span class="fa fa-lightbulb"></span> Vote for / add new feature requests!</a> &nbsp;|&nbsp;
          <a class="btn btn-link btn-sm text-white" target="_blank" href="https://gitreports.com/issue/padjon/Strife-CE"
            role="button"><span class="fa fa-bug"></span> Found a bug? Report it here!</a> &nbsp;|&nbsp;
          <a class="btn btn-link btn-sm text-white" (click)="logout()" role="button"><span
              class="fa fa-sign-out-alt"></span> logout</a>
          <span
            style="position: absolute; right:30px; top:6px; font-size:9px; color:#fff"><span style="color:#909dba">Made with <span class="fa fa-heart"></span> by Pad </span>&nbsp; v0.2.0</span>
        </p>
      </div>
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid" id="content-area">

        <app-breadcrumb></app-breadcrumb>
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- End Start Page Content -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

  </div>
</div>
