<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<style>
  #dragbar {
    -webkit-app-region: drag;
    cursor: move
  }

  #dragbar a {
    -webkit-app-region: no-drag;
  }

  #close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    -webkit-app-region: no-drag;
    cursor: pointer;
  }
</style>
<div style="width: 1280px; height:800px; background-color:#fff; ">
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <div style="width: 100%; padding: 14px 44px 14px 0px;" id="dragbar">
          <div id="close">x</div>
          <h1 class="float-left">Strife CE</h1>
          <h5 class="float-left" style="padding-top:18px">&nbsp;v0.0.1</h5>
          <p class="text-right">
            <a class="btn btn-secondary" target="_blank" href="https://gitreports.com/issue/padjon/Strife-CE"
              role="button">Found a bug? Report it here!</a> &nbsp;
            <a class="btn btn-secondary" (click)="logout()" role="button">logout</a>
          </p>
        </div>

        <app-breadcrumb></app-breadcrumb>
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- End Start Page Content -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

  </div>
</div>
