<div *ngIf="state == EChatAccountState.PREPARING_MATCH"
  style="position:absolute; left:0; right:0; top:56px; bottom:0; background:rgba(255,255,255,0.7); z-index:99999; display:flex; align-items: center; justify-content: center; ">
  <h1>Game Found! Joining in a moment...</h1>
</div>
<div class="row">
  <div class="col-md-2" style="padding:0px;">
    <a target="_blank" href="https://www.patreon.com/bePatron?u=19872450"
      data-patreon-widget-type="become-patron-button">
      <img src="assets/images/patreon_button.png" style="height:44px; margin-left: -8px" /></a>
    <div class="card" style="border-radius:0px; border-right:none; height:700px;">
      <div class="card-header">Users in Chat</div>
      <div class="card-body p-0">
        <ul id="onlineUsers" class="list-group list-group-flush"></ul>
        <div style="height:10px"></div>
        <div *ngFor="let chatAccount of getChatAccounts()">
          <span style="padding: 5px 6px">
            <span style="width: 16px; height:16px; display: inline-block">
              <a href="https://www.patreon.com/strife_ce" [ngbTooltip]="chatAccount.iconTooltip" placement="right"
                target="_blank" *ngIf="chatAccount.icon">
                <img [src]="'assets/images/icons/' + chatAccount.icon +'.png'" style="width:16px; margin-top:-5px;" />
              </a>
            </span>
            {{chatAccount.name}} <span *ngIf="chatAccount.stateIcon"
              [class]="'float-right fa fa-' + chatAccount.stateIcon" style="margin-right: 10px; color: #bbb"></span>
          </span>
        </div>
      </div>
      <div class="card-footer">
        <a *ngIf="!isChatAudioMuted" (click)="toggleMute()" style="font-size: 12px; color:#aaa"><span
            class="fa fa-volume-up"></span>&nbsp; sound notifications on</a>
        <a *ngIf="isChatAudioMuted" (click)="toggleMute()" style="font-size: 12px; color:#aaa"><span
            class="fa fa-volume-mute"></span>&nbsp; sound notifications off</a>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="padding:0px;">
    <div id="chatbox">
      <div class="card" style="border-radius:0px">
        <div class="card-body">
          <dl id="messageList" style="height:637px;overflow: auto" #chatScrollContainer>
            <div *ngFor="let msg of messages" [style.background-color]="msg.highlight ? '#dbe4f5': ''">
              <b>
                <span style="width: 16px; height:16px; display: inline-block" *ngIf="msg.account.icon">
                  <a href="https://www.patreon.com/strife_ce"
                    [ngbTooltip]="msg.account.name + ' is a Patreon Supporter'" placement="left" target="_blank">
                    <img [src]="'assets/images/icons/' + msg.account.icon +'.png'"
                      style="width:16px; margin-top:-5px;" />
                  </a>
                </span>
                {{msg.account.name}}:</b>&nbsp;<span>{{msg.message}}</span>
            </div>
          </dl>
          <hr>
          <form id="sendMessage" (ngSubmit)="sendMessage(); ">
            <div class='input-group'>
              <input [disabled]="chatDisabled" #sendMsgInput type='text' name='message' class="form-control"
                placeholder="Type your message..." autofocus autocomplete="off">

              <div class='input-group-append'>
                <button [disabled]="chatDisabled" class='btn btn-primary'>Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="padding-right: 0px; padding-left: 0px">
    <div>
      <div class="card" style="border: none">
        <div class="card-header">
          <h5 class="card-title" style="margin:4px 0px">News</h5>
        </div>
        <div class="card-body" style="overflow-y:auto; height: 370px; font-size: 14px">
          Changes in v0.1.0:<br>
          <ul>
            <li>Matches don't end anymore after a player left</li>
            <li>Reconnecting to a match is now possible</li>
            <li>Audio alerts on receiving a @-tagged message</li>
            <li>Remembering latest hero and pet selection</li>
          </ul>
          Changes in v0.0.4:<br>
          <ul>
            <li>Added player state indicators</li>
            <li>Fixed a bug which lead to one player being multiple times in a game</li>
            <li>Added the GRAND Patreon Supporter icon for supporters of 10+$ (Thank you Jertle)</li>
            <li>Chat highlighting if you mention someone via @name</li>
          </ul>
          Changes in v0.0.3:<br>
          <ul>
            <li>Added queue state indicators</li>
            <li>Enabled passive abilities of pets</li>
            <li>Fixed a bunch of matchmaking and hero bugs</li>
            <li>Added Patreon Supporter icons in chat</li>
          </ul>
          Changes in v0.0.2:<br>
          <ul>
            <li>Added all the previously missed heroes</li>
            <li>Added all pets</li>
            <li>Added selection for gamemodes</li>
            <li>Removed Blazer (<a target="_blank" href="https://www.strawpoll.me/17936571/r">community decission</a>)
            </li>
            <li>Added a icon for <a href="https://www.patreon.com/strife_ce" target="_blank">Patreon Supporters</a> in
              chat
            </li>
            <li>Fixed chat scroll issues</li>
            <li>Client redesign</li>
          </ul>
        </div>
      </div>
      <div style="position:absolute; bottom: 0px; height: 303px">
        <div class="card" style="border: none">
          <div class="card-header" style="border-top: 1px solid rgba(0, 0, 0, 0.125)">
            <h5 class="card-title" style="margin:4px 0px">Play</h5>
            <div style="position:absolute; right: 15px; margin-top: -44px">
              <circle-progress [percent]="queueStates[EGameMode.MODE_1ON1]/2*100" [radius]="20" [outerStrokeWidth]="3"
                [innerStrokeWidth]="3" [space]="-3" [outerStrokeColor]="'#a4a7ae'" [innerStrokeColor]="'#e7e8ea'"
                [animation]="true" [titleFontSize]="16" [subtitleColor]="'#aaaaaa'" [animationDuration]="300"
                [title]="queueStates[EGameMode.MODE_1ON1]" subtitle="1vs1&nbsp;&nbsp;" units="" [startFromZero]="false">
              </circle-progress>

              <circle-progress [percent]="queueStates[EGameMode.MODE_2ON2]/4*100" [radius]="20" [outerStrokeWidth]="3"
                [innerStrokeWidth]="3" [space]="-3" [outerStrokeColor]="'#a4a7ae'" [innerStrokeColor]="'#e7e8ea'"
                [animation]="true" [titleFontSize]="16" [subtitleColor]="'#aaaaaa'" [animationDuration]="300"
                [title]="queueStates[EGameMode.MODE_2ON2]" subtitle="2vs2&nbsp;&nbsp;" units="" [startFromZero]="false">
              </circle-progress>

              <circle-progress [percent]="queueStates[EGameMode.MODE_3ON3]/6*100" [radius]="20" [outerStrokeWidth]="3"
                [innerStrokeWidth]="3" [space]="-3" [outerStrokeColor]="'#a4a7ae'" [innerStrokeColor]="'#e7e8ea'"
                [animation]="true" [titleFontSize]="16" [subtitleColor]="'#aaaaaa'" [animationDuration]="300"
                [title]="queueStates[EGameMode.MODE_3ON3]" subtitle="3vs3&nbsp;&nbsp;" units="" [startFromZero]="false">
              </circle-progress>

              <circle-progress [percent]="queueStates[EGameMode.MODE_5ON5]/10*100" [radius]="20" [outerStrokeWidth]="3"
                [innerStrokeWidth]="3" [space]="-3" [outerStrokeColor]="'#a4a7ae'" [innerStrokeColor]="'#e7e8ea'"
                [animation]="true" [titleFontSize]="16" [subtitleColor]="'#aaaaaa'" [animationDuration]="300"
                [title]="queueStates[EGameMode.MODE_5ON5]" subtitle="5vs5&nbsp;&nbsp;" units="" [startFromZero]="false">
              </circle-progress>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="state == EChatAccountState.IDLE">
              Select one or multiple gamemodes: <br />

              <ng-toggle onColor="success" offColor="light" size="sm"
                [(ngModel)]="selectedGameModes[EGameMode.MODE_1ON1]">
                <ng-template ngToggleLabel forLabel="on"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;1vs1
                </ng-template>
                <ng-template ngToggleLabel forLabel="off"><span class="fa fa-times-circle"></span>&nbsp;&nbsp;1vs1
                </ng-template>
              </ng-toggle>
              &nbsp;
              <ng-toggle onColor="success" offColor="light" size="sm"
                [(ngModel)]="selectedGameModes[EGameMode.MODE_2ON2]">
                <ng-template ngToggleLabel forLabel="on"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;2vs2
                </ng-template>
                <ng-template ngToggleLabel forLabel="off"><span class="fa fa-times-circle"></span>&nbsp;&nbsp;2vs2
                </ng-template>
              </ng-toggle>
              &nbsp;
              <ng-toggle onColor="success" offColor="light" size="sm"
                [(ngModel)]="selectedGameModes[EGameMode.MODE_3ON3]">
                <ng-template ngToggleLabel forLabel="on"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;3vs3
                </ng-template>
                <ng-template ngToggleLabel forLabel="off"><span class="fa fa-times-circle"></span>&nbsp;&nbsp;3vs3
                </ng-template>
              </ng-toggle>
              &nbsp;
              <ng-toggle onColor="success" offColor="light" size="sm"
                [(ngModel)]="selectedGameModes[EGameMode.MODE_5ON5]">
                <ng-template ngToggleLabel forLabel="on"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;5vs5
                </ng-template>
                <ng-template ngToggleLabel forLabel="off"><span class="fa fa-times-circle"></span>&nbsp;&nbsp;5vs5
                </ng-template>
              </ng-toggle>

              <br /><br />

              <div class="row">
                <div class="col-md-6">
                  Select a Hero:
                  <select class="custom-select" [(ngModel)]="selectedHero">
                    <option *ngFor="let heroValue of getEnumValues(EHeroEnum)" [ngValue]="heroValue">
                      {{HeroEnumText.get(heroValue)}}
                    </option>
                  </select>
                </div>
                <div class="col-md-6">
                  Select a Pet:
                  <select class="custom-select" [(ngModel)]="selectedPet">
                    <option *ngFor="let petValue of getEnumValues(EPetEnum)" [ngValue]="petValue">
                      {{PetEnumText.get(petValue)}}
                    </option>
                  </select>
                </div>
                <div class="col-md-12">
                  &nbsp;
                  <button class="btn btn-primary btn-block" (click)="startGameSearch()">Play</button>
                </div>
              </div>

            </div>
            <div *ngIf="state == EChatAccountState.QUEUE || state == EChatAccountState.PREPARING_MATCH">
              <div class="row">
                <div class="col-6">
                  Gamemodes:
                </div>
                <div class="col-6">
                  <b>
                    {{selectedGameModes[EGameMode.MODE_1ON1]? '1vs1':''}}
                    {{selectedGameModes[EGameMode.MODE_2ON2]? '2vs2':''}}
                    {{selectedGameModes[EGameMode.MODE_3ON3]? '3vs3':''}}
                    {{selectedGameModes[EGameMode.MODE_5ON5]? '5vs5':''}}
                  </b>
                </div>
                <div class="col-6">
                  Hero:
                </div>
                <div class="col-6">
                  <b>{{HeroEnumText.get(selectedHero)}}</b>
                </div>
                <div class="col-6">
                  Pet:
                </div>
                <div class="col-6">
                  <b>{{PetEnumText.get(selectedPet)}}</b>
                </div>
              </div>
              <br /><br />
              <div style="text-align:left">Searching for players, please wait... {{searchingTime}} seconds</div>
              <br />
              <button class="btn btn-danger btn-block" (click)="cancelGameSearch()">Abort searching</button>
            </div>

            <div *ngIf="state == EChatAccountState.INGAME">
              <div class="row">
                <div class="col-6">
                  Gamemodes:
                </div>
                <div class="col-6">
                  <b>
                    {{selectedGameModes[EGameMode.MODE_1ON1]? '1vs1':''}}
                    {{selectedGameModes[EGameMode.MODE_2ON2]? '2vs2':''}}
                    {{selectedGameModes[EGameMode.MODE_3ON3]? '3vs3':''}}
                    {{selectedGameModes[EGameMode.MODE_5ON5]? '5vs5':''}}
                  </b>
                </div>
                <div class="col-6">
                  Hero:
                </div>
                <div class="col-6">
                  <b>{{HeroEnumText.get(selectedHero)}}</b>
                </div>
                <div class="col-6">
                  Pet:
                </div>
                <div class="col-6">
                  <b>{{PetEnumText.get(selectedPet)}}</b>
                </div>
              </div>
              <br /><br />
              <div style="text-align:left">You left a running game. Please reconnect!</div>
              <br />
              <button class="btn btn-primary btn-block" (click)="joinMatch()">Rejoin the game</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
