<section id="wrapper" class="login-register login-sidebar" style="padding-top:100px">
  <div class="login-box card" style="width: 300px; margin: auto">
    <div class="card-body">
      <h1>Strife CE </h1>
      <h5>Version 0.0.1</h5>
      <br/>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="" id="loginform"
        novalidate>
        <a href="javascript:void(0)" class="text-center db logo-container">
        </a>
        <div style="width: 100%; margin-bottom: 60px" class="clearfix">
          <a class="btn btn-dark float-left" [routerLink]="['/login']" role="button" style="width:110px">Login</a>
          <a class="btn btn-light float-right" [routerLink]="['/signup']" role="button">New? Sign Up</a>
        </div>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
              <input class="form-control" type="text" formControlName="username" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
              <input class="form-control" type="password" formControlName="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
              [disabled]="loginForm.invalid || isLoading">
              <app-button-loader [isLoading]="isLoading" [label]="'Log In'"></app-button-loader>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
