<div style="background: url('assets/images/background.jpg') 50% 50% #000; background-size: 100% auto; height: 100%;">
<section id="wrapper" class="login-register login-sidebar" style="padding-top:160px">
    <div class="login-box card" style="width: 300px; margin: auto; border-radius:0px">
        <div style="background: url('assets/images/logo.jpg') no-repeat 50% 2px #24304a; height:58px; width:298px"></div>
    <div class="card-body" style="overflow:hidden">
      <form [formGroup]="signupForm" (ngSubmit)="signup()" class="" id="signupForm"
        novalidate>
        <a href="javascript:void(0)" class="text-center db logo-container">
        </a>
        <div style="width: 100%; margin-bottom: 30px" class="clearfix">
          <a class="btn btn-light float-left" [routerLink]="['/login']" role="button" style="width:140px">Login instead</a>
          <a class="btn btn-dark float-right" [routerLink]="['/signup']" role="button" style="width:110px">Sign Up</a>
        </div>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
              <input class="form-control" type="text" formControlName="accountname" placeholder="Shown name" maxlength="15">
          </div>
        </div>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
              <input class="form-control" type="text" formControlName="username" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
              <input class="form-control" type="password" formControlName="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
              <input class="form-control" type="password" formControlName="passwordRepeat" placeholder="Repeat password">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
              [disabled]="signupForm.invalid || isLoading">
              <app-button-loader [isLoading]="isLoading" [label]="'Sign up'"></app-button-loader>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
</div>
